"*":
  "exception-reporting":
    userId: "5ccfa71f-62da-43a6-9086-d030bc62f762"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
  "vim-mode": {}
  minimap: {}
  "atom-cscope": {}
