"*":
  core:
    autoHideMenuBar: true
    themes: [
      "one-dark-ui"
      "brahalla-syntax"
    ]
  editor:
    fontSize: 13
    showInvisibles: true
  "exception-reporting":
    userId: "a0069527-ecc8-96f8-efb4-60e022327823"
  "python-tools":
    pythonPath: "./venv_1.8/lib/python3.4"
  welcome:
    showOnStartup: false
